header {
	z-index: 10;
}

body {
	background: #e83015;
}

#chat-log div.chat-msg {
	background: #e83015;
	border-bottom: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	margin-bottom: 20px;
}

#chat-log div.chat-msg:nth-child(2n) {
	background: none;
}

#chat-log div.chat-system-msg {
	padding: 6px 70px 6px 30px;
	font-size: 10pt;

	border-width: 0 0 1px 0;
	position: relative;
	line-height: 140%;
	text-indent: -20px;
	border-radius: 3px;
	margin: 10px auto;
	border: solid 1px red;
	background: #fff !important;
}
#chat-log div.chat-system-msg .chat-nick {
	margin-right: 4px;
	color: red;
	font-weight: bold;
}
#chat-log div.chat-system-msg .chat-text {
	color: red;
	font-size: 14px;
}

#chat-log {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	width: auto;
	max-height: 100%;
	overflow: auto;
	color: #ccc;
}

.chat-time {
	display: none;
	color: red;
	text-shadow: none;
}
.chat-nick {
	font-size: 25px;
	font-weight: bold;
	-webkit-transform: rotate(6deg);
}
.chat-text {
	color: #fff;
	font-weight: bold;
	color: #fff;
	font-weight: bold;
	display: block;
	padding: 10px 0;
	overflow: visible;

	-webkit-transform: rotate(-6deg);

	font-size: 20px;
	line-height: 30px;
}

#frame {
	top: 0px;
	bottom: 60px;
	left: 0px;
	right: 0px;
	width: auto;
}

#entry {
	height: 41px;

	-webkit-box-shadow: #fff 0 -1px 0;
	-moz-box-shadow: #fff 0 -1px 0;
	box-shadow: none;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 26px;
	background: #e83015;

	border: 3px #fff dashed;
}

#entry p {
	position: fixed;
	height: 25px;
	left: 15px;
	right: 270px;
	width: 90%;
	bottom: 36px;
}

#entry fieldset {
	position: absolute;
	left: 1px;
	top: 5px;
	height: 17px;
	right: 200px;
	border-width: 7px 8px 8px 8px;
	/*-webkit-border-image: url(../images/inset-border-l.png) 7 8 8 8 repeat repeat;*/
	/*-moz-border-image: url(../images/inset-border-l.png) 7 8 8 8 repeat repeat;*/
	/*-webkit-border-radius: 6px;*/
	/*-moz-border-radius: 4px;*/

	-webkit-border-image: none;
	-moz-border-image: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;

	border-radius: 4px;
	width: 98%;
}

#entry a#submit {
	/*background: #fff;*/
	/*color: #e83015;*/
	/*border-radius: 20px;*/
	color: #fff;
	bottom: -12px;
	font-weight: bold;
	font-size: 25px;
	background: none;
}

#users a {
	text-decoration: none;
}

.marquee-left{

	display:block;
	width:1240px;
	height:40px;
	position:absolute;
	left:0;
	top:0;
	-webkit-animation-iteration-count : infinite;
	-webkit-animation-timing-function :linear;
	-webkit-animation-duration: 10s;
	-webkit-animation-name: scroll;
}

@-webkit-keyframes scroll {
0% {left:0;}
100% {left:1020px;}
}
